In [8]:
a=6
b=8
c=4
d=2
print('a={}, b={}')

a={}, b={}

In [10]:
print('a={}, b={}'.format(c,d))

a=4, b=2

In [18]:
b = [3,4,5,6,['a','b','c','d']]

In [24]:
b[0:4:3]

[3, 6]

IndexError: list index out of range

## 4.14 변수활용

In [4]:
students = [
    {'num':'1', 'name':'김철수','kor':90, 'eng':80, 'math':85, 'total':0, 'avg':0.0, 'order':0},
    {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
    {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }       
]

In [7]:
students[0]['kor']

90

In [8]:
students[1]['name']

'박제동'

In [13]:
students[2]['eng']

80

In [3]:
# iterable_data.py

message = 'Hello!'
messages = ['Hello World', '서울과학종합대학원 빅데이터MBA']
numbers = (1,2,3)
polygon = {'triangle': 2, 'rectangle': 3, 'line': 1}
color = {'red', 'green', 'blue'}

for item in message:
    print(item)

print()

for item in messages:
    print(item)

print()

for item in numbers:
    print(item)

print()

for item in polygon:
    print(item)

print()

for item in color:
    print(item)

H
e
l
l
o
!

Hello World
서울과학종합대학원 빅데이터MBA

1
2
3

triangle
rectangle
line

red
blue
green

In [14]:
total = 0

for item in [1,2,3,4,5,6,7,8,9,10]:
    total = total + item
    
print('1부터 10까지 합은 {} 입니다'.format(total))

1부터 10까지 합은 55 입니다

In [ ]:
# sum_numbers_100.py

total = 0

for item in range(1,101):
    total = total + item
    
print('1부터 100까지 합은 ', total, ' 입니다.')

In [15]:
total = 0
for item in range(1,101):
    total = total + item
print('1부터 100까지 합은', total, '입니다.')

1부터 100까지 합은 5050 입니다.

In [ ]:
# sum_even_numbers_100.py

total = 0

for item in range(0,101,2):
    total = total + item
    
print('1부터 100까지 짝수 합은 ', total, ' 입니다.')

In [18]:
total = 0
for item in range(0,101,2):
    total = total + item
    
print('1부터 100까지 짝수 합은', total, '입니다.')

1부터 100까지 짝수 합은 2550 입니다.

In [ ]:
# sum_3_or_7_multiple_100.py

total = 0

for item in range(1,101):
    if (item % 3) == 0 or (item % 7) == 0:
        total = total + item
    
print('1부터 100까지에서 3 혹은 7의 배수의 합은 ', total, ' 입니다.')

In [26]:
total = 0
for item in range(1,101):
    if (item % 3)== 0 or (item % 7) == 0:
        total = total + item

print('1부터 100까지에서 3 혹은 7의 배수의 합은', total, '입니다.')

1부터 100까지에서 3 혹은 7의 배수의 합은 2208 입니다.

In [ ]:
# for_else.py

total = 0

for item in range(1,101):
    total = total + item
else:
    print('덧셈 작업이 끝났습니다.')
    
print('1부터 100까지 합은 ', total, ' 입니다.')
##for문이 끝까지 돌면 else를 반환하라. 근데 중간에 for 문이 중간에 멈추거나 끊기면? else도 출력을 안함.
## for 문에 else도 달리더라~

In [28]:
total = 0

for item in range(1,101):
    total = total + item
else:
    print('덧셈 작업이 끝났습니다.')
    
print('1부터 100까지 합은', total, '입니다.')

덧셈 작업이 끝났습니다.
1부터 100까지 합은 5050 입니다.

In [38]:
##구구단을 짜보자

total = 2


for item in range(1:10)
  item ==
print(total)

SyntaxError: invalid syntax (<ipython-input-38-9754a3fe8180>, line 6)

In [40]:
# 구구단

for i in range(3, 4):

   
    for j in range(1, 10):
    
        print(i, "*", j, "=", i * j)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [52]:
# 구구단
s_val = int(input('begin'))
e_val = int(input('end'))
for i in range(s_val, s_val+1):

    print('--{}단 시작--'.format(i))
    
    for j in range(1, 9):
    
        print(i, "*", j, "=", i * j)

begin2
end5
--2단 시작--
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16

In [53]:
lst = [1,2,3,4]

result = []
for num in lst:
    result.append(num*3)

print(result)

[3, 6, 9, 12]

In [59]:
lst = [1,2,3,4]

result = []


for num in lst:
    result.append(num*3)

print(result)

[3, 6, 9, 12]

In [60]:
# list comprehension

lst = [1,2,3,4]
result = [num * 3 for num in lst]

print(result)

[3, 6, 9, 12]

In [62]:
lst = [1,2,3,4]

result = [num *3 for num in lst]

print(result)

[3, 6, 9, 12]

In [63]:
# list comprehension with if

lst = [1,2,3,4]
result = [num * 3 for num in lst if num % 2 == 0]

print(result)

[6, 12]

In [65]:

lst = [1,2,3,4]

result = [num * 3 for num in lst if num % 2 == 0]

print(result)

[6, 12]

In [1]:
# sum_100_while.py

count = 1
total = 0

while count <= 100:
    total = total + count
    count = count + 1

print('1부터 100까지의 합은:', total )

1
2
3
4
5
6
7
8
9
10

In [3]:
count = 1
total = 0

while count <=100:
    total = total + count
    count = count + 1

print('1부터 100까지의 합은:', total)

1부터 100까지의 합은: 5050

In [ ]:
# sum_100_else.py

count  = 1
result = 0

while count <= 100:
    result = result + count
    count  = count + 1
else:
    print('덧셈이 작업 완료 되었습니다.')

print('1부터 100까지의 합은:', result )

In [ ]:
count = 1
result = 0

while count <=100:
    result = result + count
    count + count + 1
else:
    print('덧셈이 작업완료됨')

In [ ]:
# break_letter.py

break_letter = input('중단할 문자를 입력하시오: ')

for letter in 'python':
    if letter == break_letter:
        break
    print(letter)
    
else:
    print('모든 문자 출력 완료!')

In [11]:
# break_letter.py

break_letter = input('중단할 문자를 입력하시오: ')

for letter in 'python':
    if letter == break_letter:
        break
    print(letter)
    
else:
    print('모든 문자 출력 완료!')

중단할 문자를 입력하시오:
p
y
t
h
o
n
모든 문자 출력 완료!

In [12]:
1+1

2

In [13]:
2+2

4

In [14]:
%time break_letter = input('중단할 문자를 입력')

for letter in 'python':
    if letter == break_letter:
        break
    print(letter)

else:
    print('모든 문자 출력 완료!')

중단할 문자를 입력
Wall time: 355 ms
p
y
t
h
o
n
모든 문자 출력 완료!

In [21]:
# draw_polygon.py

choice = None

while True:
    print('1. 원 그리기')
    print('2. 사각형 그리기')
    print('3. 선 그리기')
    print('4. 종료')
    
    choice = input('메뉴를 선택하시오: ')
    
    if choice == '1':
        print('원 그리기를 선택했습니다.')
    elif choice == '2':
        print('사각형 그리기를 선택했습니다.')
    elif choice == '3':
        print('선 그리기를 선택했습니다.')
    elif choice == '4':
        print('종료합니다.')
        break
    else:
        print('잘못된 선택을 했습니다.')

1. 원 그리기
2. 사각형 그리기
3. 선 그리기
4. 종료
메뉴를 선택하시오: 2
사각형 그리기를 선택했습니다.
1. 원 그리기
2. 사각형 그리기
3. 선 그리기
4. 종료
메뉴를 선택하시오: 2
사각형 그리기를 선택했습니다.
1. 원 그리기
2. 사각형 그리기
3. 선 그리기
4. 종료
메뉴를 선택하시오: 2
사각형 그리기를 선택했습니다.
1. 원 그리기
2. 사각형 그리기
3. 선 그리기
4. 종료
메뉴를 선택하시오: 3
선 그리기를 선택했습니다.
1. 원 그리기
2. 사각형 그리기
3. 선 그리기
4. 종료
메뉴를 선택하시오: 4
종료합니다.

## 예제1) 요일구하기

1. 서기 1년 1월 1일은 월요일이다.  
<br>
1. 윤년을 구하는 공식은 다음과 같다.
  - 4로 나누어지는 해는 윤년이다.
  - 100으로 나누어지는 해는 윤년이 아니다.
  - 400으로 나누어지는 해는 윤년이다.

In [ ]:
# calculate_day.py

# 년월일을 입력 받는다.
year  = int(input('년도를 입력하시오: '))
month = int(input('월을 입력하시오: '))
day   = int(input('일을 입력하시오: '))

total_days = 0

# 달별 날수를 리스트로 저장
year_month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]


# 서기 1년부터 year-1 까지의 각 년도 별 날수를 합한다.
for item in range(1, year):
    if item % 400 == 0:                 # 400으로 나뉘는 해: 윤년
        total_days = total_days + 366
    elif item % 100 == 0:               # 100으로 나뉘는 해: 평년
        total_days = total_days + 365
    elif item % 4 == 0:                 # 4으로 나뉘는 해  : 윤년
        total_days = total_days + 366
    else:
        total_days = total_days + 365


# 1월 달부터 month-1 까지의 각 달의 날수를 합한다.
for item in range(1, month):
    total_days = total_days + year_month_days[item]
    

# 입력된 달이 3이상이고 해당년도가 윤년일 경우 1을 추가
if month >= 3:
    if year % 400 == 0:                 # 400으로 나뉘는 해: 윤년
        total_days = total_days + 1
    elif year % 100 == 0:               # 100으로 나뉘는 해: 평년
        total_days = total_days + 0
    elif year % 4 == 0:                 # 4으로 나뉘는 해  : 윤년
        total_days = total_days + 1
    else:
        total_days = total_days + 0


total_days += day

# 총 날수를 7로 나눈 나머지를 구한다.
remainder = total_days % 7

if remainder == 0:
    print('일요일 입니다.')
elif remainder == 1:
    print('월요일 입니다.')
elif remainder == 2:
    print('화요일 입니다.')
elif remainder == 3:
    print('수요일 입니다.')
elif remainder == 4:
    print('목요일 입니다.')
elif remainder == 5:
    print('금요일 입니다.')
elif remainder == 6:
    print('토요일 입니다.')

In [35]:
year = int(input('년도를 입력하세요:'))
while True:
    month = int(input('월을 입력하세요'))
    if month > 12:
        print('잘못된 입력입니다.')
        continue
    else:
        break
month = int(input('월을 입력하세요'))

day = int(input('일을 입력하세요'))

total_days = 0 

# 달별 날수를 리스트로 저장 (1월부터 12월까지.. 막날)
year_month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]

# 서기 1년부터 year-1 까지의 각 년도 별 날수를 합한다.
for item in range(1, year):
    if item % 400 == 0:
        total_days = total_days + 366
    elif item % 100 == 0:
        total_days = total_days + 365
    elif item % 4 == 0:
        total_days = total_days + 366
    else:
        total_days = total_days + 365

    
##############################################################
# 1월 달부터 month-1 까지의 각 달의 날수를 합한다.
for item in range(1, month):
    total_days = total_days + year_month_days[item]


# 입력된 달이 3이상이고 해당년도가 윤년일 경우 1을 추가
if month >= 3:
    if year % 400 == 0:                 # 400으로 나뉘는 해: 윤년
        total_days = total_days + 1
    elif year % 100 == 0:               # 100으로 나뉘는 해: 평년
        total_days = total_days + 0
    elif year % 4 == 0:                 # 4으로 나뉘는 해  : 윤년
        total_days = total_days + 1
    else:
        total_days = total_days + 0

total_days += day

# 총 날수를 7로 나눈 나머지를 구한다.
remainder = total_days % 7

if remainder == 0:
    print('일요일 입니다.')
elif remainder == 1:
    print('월요일 입니다.')
elif remainder == 2:
    print('화요일 입니다.')
elif remainder == 3:
    print('수요일 입니다.')
elif remainder == 4:
    print('목요일 입니다.')
elif remainder == 5:
    print('금요일 입니다.')
elif remainder == 6:
    print('토요일 입니다.')

년도를 입력하세요:2200
월을 입력하세요15
잘못된 입력입니다.
월을 입력하세요15
잘못된 입력입니다.
월을 입력하세요15
잘못된 입력입니다.
월을 입력하세요5
월을 입력하세요1
일을 입력하세요1
수요일 입니다.

In [36]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]