In [1]:
a=6
b=8
c=4
d=2
print('a={}, b={}')

a={}, b={}

In [10]:
print('a={}, b={}'.format(c,d))

a=4, b=2

In [18]:
b = [3,4,5,6,['a','b','c','d']]

In [24]:
b[0:4:3]

[3, 6]

In [1]:
import requests

## 4.14 변수활용

In [4]:
students = [
    {'num':'1', 'name':'김철수','kor':90, 'eng':80, 'math':85, 'total':0, 'avg':0.0, 'order':0},
    {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
    {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }       
]

In [7]:
students[0]['kor']

90

In [8]:
students[1]['name']

'박제동'

In [13]:
students[2]['eng']

80

In [3]:
# iterable_data.py

message = 'Hello!'
messages = ['Hello World', '서울과학종합대학원 빅데이터MBA']
numbers = (1,2,3)
polygon = {'triangle': 2, 'rectangle': 3, 'line': 1}
color = {'red', 'green', 'blue'}

for item in message:
    print(item)

print()

for item in messages:
    print(item)

print()

for item in numbers:
    print(item)

print()

for item in polygon:
    print(item)

print()

for item in color:
    print(item)

H
e
l
l
o
!

Hello World
서울과학종합대학원 빅데이터MBA

1
2
3

triangle
rectangle
line

red
blue
green

In [14]:
total = 0

for item in [1,2,3,4,5,6,7,8,9,10]:
    total = total + item
    
print('1부터 10까지 합은 {} 입니다'.format(total))

1부터 10까지 합은 55 입니다

In [ ]:
# sum_numbers_100.py

total = 0

for item in range(1,101):
    total = total + item
    
print('1부터 100까지 합은 ', total, ' 입니다.')

In [15]:
total = 0
for item in range(1,101):
    total = total + item
print('1부터 100까지 합은', total, '입니다.')

1부터 100까지 합은 5050 입니다.

In [ ]:
# sum_even_numbers_100.py

total = 0

for item in range(0,101,2):
    total = total + item
    
print('1부터 100까지 짝수 합은 ', total, ' 입니다.')

In [18]:
total = 0
for item in range(0,101,2):
    total = total + item
    
print('1부터 100까지 짝수 합은', total, '입니다.')

1부터 100까지 짝수 합은 2550 입니다.

In [ ]:
# sum_3_or_7_multiple_100.py

total = 0

for item in range(1,101):
    if (item % 3) == 0 or (item % 7) == 0:
        total = total + item
    
print('1부터 100까지에서 3 혹은 7의 배수의 합은 ', total, ' 입니다.')

In [26]:
total = 0
for item in range(1,101):
    if (item % 3)== 0 or (item % 7) == 0:
        total = total + item

print('1부터 100까지에서 3 혹은 7의 배수의 합은', total, '입니다.')

1부터 100까지에서 3 혹은 7의 배수의 합은 2208 입니다.

In [ ]:
# for_else.py

total = 0

for item in range(1,101):
    total = total + item
else:
    print('덧셈 작업이 끝났습니다.')
    
print('1부터 100까지 합은 ', total, ' 입니다.')
##for문이 끝까지 돌면 else를 반환하라. 근데 중간에 for 문이 중간에 멈추거나 끊기면? else도 출력을 안함.
## for 문에 else도 달리더라~

In [28]:
total = 0

for item in range(1,101):
    total = total + item
else:
    print('덧셈 작업이 끝났습니다.')
    
print('1부터 100까지 합은', total, '입니다.')

덧셈 작업이 끝났습니다.
1부터 100까지 합은 5050 입니다.

In [38]:
##구구단을 짜보자

total = 2


for item in range(1:10)
  item ==
print(total)

SyntaxError: invalid syntax (<ipython-input-38-9754a3fe8180>, line 6)

In [40]:
# 구구단

for i in range(3, 4):

   
    for j in range(1, 10):
    
        print(i, "*", j, "=", i * j)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [52]:
# 구구단
s_val = int(input('begin'))
e_val = int(input('end'))
for i in range(s_val, s_val+1):

    print('--{}단 시작--'.format(i))
    
    for j in range(1, 9):
    
        print(i, "*", j, "=", i * j)

begin2
end5
--2단 시작--
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16

In [53]:
lst = [1,2,3,4]

result = []
for num in lst:
    result.append(num*3)

print(result)

[3, 6, 9, 12]

In [59]:
lst = [1,2,3,4]

result = []


for num in lst:
    result.append(num*3)

print(result)

[3, 6, 9, 12]

In [60]:
# list comprehension

lst = [1,2,3,4]
result = [num * 3 for num in lst]

print(result)

[3, 6, 9, 12]

In [62]:
lst = [1,2,3,4]

result = [num *3 for num in lst]

print(result)

[3, 6, 9, 12]

In [63]:
# list comprehension with if

lst = [1,2,3,4]
result = [num * 3 for num in lst if num % 2 == 0]

print(result)

[6, 12]

In [65]:

lst = [1,2,3,4]

result = [num * 3 for num in lst if num % 2 == 0]

print(result)

[6, 12]

In [1]:
# sum_100_while.py

count = 1
total = 0

while count <= 100:
    total = total + count
    count = count + 1

print('1부터 100까지의 합은:', total )

1
2
3
4
5
6
7
8
9
10

In [3]:
count = 1
total = 0

while count <=100:
    total = total + count
    count = count + 1

print('1부터 100까지의 합은:', total)

1부터 100까지의 합은: 5050

In [ ]:
# sum_100_else.py

count  = 1
result = 0

while count <= 100:
    result = result + count
    count  = count + 1
else:
    print('덧셈이 작업 완료 되었습니다.')

print('1부터 100까지의 합은:', result )

In [ ]:
count = 1
result = 0

while count <=100:
    result = result + count
    count + count + 1
else:
    print('덧셈이 작업완료됨')

In [ ]:
# break_letter.py

break_letter = input('중단할 문자를 입력하시오: ')

for letter in 'python':
    if letter == break_letter:
        break
    print(letter)
    
else:
    print('모든 문자 출력 완료!')

In [11]:
# break_letter.py

break_letter = input('중단할 문자를 입력하시오: ')

for letter in 'python':
    if letter == break_letter:
        break
    print(letter)
    
else:
    print('모든 문자 출력 완료!')

중단할 문자를 입력하시오:
p
y
t
h
o
n
모든 문자 출력 완료!

In [12]:
1+1

2

In [13]:
2+2

4

In [14]:
%time break_letter = input('중단할 문자를 입력')

for letter in 'python':
    if letter == break_letter:
        break
    print(letter)

else:
    print('모든 문자 출력 완료!')

중단할 문자를 입력
Wall time: 355 ms
p
y
t
h
o
n
모든 문자 출력 완료!

In [21]:
# draw_polygon.py

choice = None

while True:
    print('1. 원 그리기')
    print('2. 사각형 그리기')
    print('3. 선 그리기')
    print('4. 종료')
    
    choice = input('메뉴를 선택하시오: ')
    
    if choice == '1':
        print('원 그리기를 선택했습니다.')
    elif choice == '2':
        print('사각형 그리기를 선택했습니다.')
    elif choice == '3':
        print('선 그리기를 선택했습니다.')
    elif choice == '4':
        print('종료합니다.')
        break
    else:
        print('잘못된 선택을 했습니다.')

1. 원 그리기
2. 사각형 그리기
3. 선 그리기
4. 종료
메뉴를 선택하시오: 2
사각형 그리기를 선택했습니다.
1. 원 그리기
2. 사각형 그리기
3. 선 그리기
4. 종료
메뉴를 선택하시오: 2
사각형 그리기를 선택했습니다.
1. 원 그리기
2. 사각형 그리기
3. 선 그리기
4. 종료
메뉴를 선택하시오: 2
사각형 그리기를 선택했습니다.
1. 원 그리기
2. 사각형 그리기
3. 선 그리기
4. 종료
메뉴를 선택하시오: 3
선 그리기를 선택했습니다.
1. 원 그리기
2. 사각형 그리기
3. 선 그리기
4. 종료
메뉴를 선택하시오: 4
종료합니다.

## 예제1) 요일구하기

1. 서기 1년 1월 1일은 월요일이다.  
<br>
1. 윤년을 구하는 공식은 다음과 같다.
  - 4로 나누어지는 해는 윤년이다.
  - 100으로 나누어지는 해는 윤년이 아니다.
  - 400으로 나누어지는 해는 윤년이다.

In [2]:
# calculate_day.py

# 년월일을 입력 받는다.
year  = int(input('년도를 입력하시오: '))
month = int(input('월을 입력하시오: '))
day   = int(input('일을 입력하시오: '))

total_days = 0

# 달별 날수를 리스트로 저장
year_month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]


# 서기 1년부터 year-1 까지의 각 년도 별 날수를 합한다.
for item in range(1, year):
    if item % 400 == 0:                 # 400으로 나뉘는 해: 윤년
        total_days = total_days + 366
    elif item % 100 == 0:               # 100으로 나뉘는 해: 평년
        total_days = total_days + 365
    elif item % 4 == 0:                 # 4으로 나뉘는 해  : 윤년
        total_days = total_days + 366
    else:
        total_days = total_days + 365


# 1월 달부터 month-1 까지의 각 달의 날수를 합한다.
for item in range(1, month):
    total_days = total_days + year_month_days[item]
    

# 입력된 달이 3이상이고 해당년도가 윤년일 경우 1을 추가
if month >= 3:
    if year % 400 == 0:                 # 400으로 나뉘는 해: 윤년
        total_days = total_days + 1
    elif year % 100 == 0:               # 100으로 나뉘는 해: 평년
        total_days = total_days + 0
    elif year % 4 == 0:                 # 4으로 나뉘는 해  : 윤년
        total_days = total_days + 1
    else:
        total_days = total_days + 0


total_days += day

# 총 날수를 7로 나눈 나머지를 구한다.
remainder = total_days % 7

if remainder == 0:
    print('일요일 입니다.')
elif remainder == 1:
    print('월요일 입니다.')
elif remainder == 2:
    print('화요일 입니다.')
elif remainder == 3:
    print('수요일 입니다.')
elif remainder == 4:
    print('목요일 입니다.')
elif remainder == 5:
    print('금요일 입니다.')
elif remainder == 6:
    print('토요일 입니다.')

년도를 입력하시오: 2020
월을 입력하시오: 2
일을 입력하시오: 7
금요일 입니다.

In [35]:
year = int(input('년도를 입력하세요:'))
while True:
    month = int(input('월을 입력하세요'))
    if month > 12:
        print('잘못된 입력입니다.')
        continue
    else:
        break
month = int(input('월을 입력하세요'))

day = int(input('일을 입력하세요'))

total_days = 0 

# 달별 날수를 리스트로 저장 (1월부터 12월까지.. 막날)
year_month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]

# 서기 1년부터 year-1 까지의 각 년도 별 날수를 합한다.
for item in range(1, year):
    if item % 400 == 0:
        total_days = total_days + 366
    elif item % 100 == 0:
        total_days = total_days + 365
    elif item % 4 == 0:
        total_days = total_days + 366
    else:
        total_days = total_days + 365

    
##############################################################
# 1월 달부터 month-1 까지의 각 달의 날수를 합한다.
for item in range(1, month):
    total_days = total_days + year_month_days[item]


# 입력된 달이 3이상이고 해당년도가 윤년일 경우 1을 추가
if month >= 3:
    if year % 400 == 0:                 # 400으로 나뉘는 해: 윤년
        total_days = total_days + 1
    elif year % 100 == 0:               # 100으로 나뉘는 해: 평년
        total_days = total_days + 0
    elif year % 4 == 0:                 # 4으로 나뉘는 해  : 윤년
        total_days = total_days + 1
    else:
        total_days = total_days + 0

total_days += day

# 총 날수를 7로 나눈 나머지를 구한다.
remainder = total_days % 7

if remainder == 0:
    print('일요일 입니다.')
elif remainder == 1:
    print('월요일 입니다.')
elif remainder == 2:
    print('화요일 입니다.')
elif remainder == 3:
    print('수요일 입니다.')
elif remainder == 4:
    print('목요일 입니다.')
elif remainder == 5:
    print('금요일 입니다.')
elif remainder == 6:
    print('토요일 입니다.')

년도를 입력하세요:2200
월을 입력하세요15
잘못된 입력입니다.
월을 입력하세요15
잘못된 입력입니다.
월을 입력하세요15
잘못된 입력입니다.
월을 입력하세요5
월을 입력하세요1
일을 입력하세요1
수요일 입니다.

In [36]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [37]:
students

[{'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 0,
  'avg': 0.0,
  'order': 0},
 {'num': '2',
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 0,
  'avg': 0.0,
  'order': 0},
 {'num': '3',
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 0,
  'avg': 0.0,
  'order': 0}]

In [38]:
# 반 총점, 평균 및 각 과목별 총점과 평균 초기화
class_total = 0
class_avg   = 0.0
kor_total   = 0
kor_avg     = 0.0
eng_total   = 0
eng_avg     = 0.0
math_total  = 0
math_avg    = 0.0

In [40]:
# 학생들의 성적 총점과 평균 및 반 총점과 과목별 총점을 구한다.
for student in students:
    student['total'] = student['kor'] + student['eng'] + student['math']
    student['avg']   = student['total'] / 3
    
    class_total = class_total + student['total']
    kor_total   = kor_total   + student['kor']
    eng_total   = eng_total   + student['eng']
    math_total  = math_total  + student['math']

class_avg = class_total / len(students)
kor_avg   = kor_total   / len(students)
eng_avg   = eng_total   / len(students)
math_avg  = math_total  / len(students)


# 학생별 성적 처리 결과를 출력한다.
for student in students:
    print('번호: {:s}, 이름: {:s}, 국어: {:d}, 영어: {:d}, 수학: {:d}, 총점: {:d}, 평균: {:.2f}'.format(
           student['num'], student['name'],
           student['kor'], student['eng'], student['math'],
           student['total'], student['avg'])
         )
print()


# 반 평균 및 각 과목별 평균을 출력한다.
print('반 평균  : {:.2f}'.format(class_avg))
print('국어 평균: {:.2f}'.format(kor_avg)  ) 
print('영어 평균: {:.2f}'.format(eng_avg)  )
print('수학 평균: {:.2f}'.format(math_avg) )

번호: 1, 이름: 김철수, 국어: 90, 영어: 80, 수학: 85, 총점: 255, 평균: 85.00
번호: 2, 이름: 박제동, 국어: 90, 영어: 85, 수학: 90, 총점: 265, 평균: 88.33
번호: 3, 이름: 홍길동, 국어: 80, 영어: 80, 수학: 80, 총점: 240, 평균: 80.00

반 평균  : 506.67
국어 평균: 173.33
영어 평균: 163.33
수학 평균: 170.00

In [42]:
# 게시글 제목
title = """On top of the world! Life is so fantastic if you just let it.
I have never been happier. #nyc #newyork #vacation #traveling"""

tag_list = []
for tag in title.split(" "):
    if tag.startswith("#"):
        tag_list.append(tag[1:])

print(tag_list)

['nyc', 'newyork', 'vacation', 'traveling']

In [43]:
title = """On top of the world! Life is so fantastic if you just let it.
I have never been happier. #nyc #newyork #vacation #traveling"""

tag_list = []
for tag in title.split(" "):
    if tag.startswith("#"):
        tag_list.append(tag[1:])

print(tag_list)

['nyc', 'newyork', 'vacation', 'traveling']

## 혼자연습 (파이썬 예제 300제)

## 예제 모음

In [3]:
#1. 화면에 Hello World 문자열을 출력하라.

print('Hello World')

Hello World

In [7]:
#2. 화면에 Mary's cosmetics을 출력하라. (중간에 '가 있음에 주의.)

print("Mary's cosmetics")

Mary's cosmetics

In [9]:
#3. 화면에 아래 문장을 출력하라. (중간에 "가 있음에 주의.)
# 신씨가 소리질렀다. "도둑이야".
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [11]:
#4. 화면에 "C:\Windows"를 출력하라.
print("C:\Windows")

C:\Windows

In [23]:
#5. 다음 코드를 실행해보고 \t와 \n의 역할을 설명하라.
print("안녕하세요.\n만나서반갑습니다.")
# \n 은 엔터, \t는 탭

안녕하세요.
만나서반갑습니다.

In [39]:
#6. print 함수에 두 개의 단어를 입력한 예제이다. 아래 코드의 출력 결과를 예상하라.
print ("오늘은", "일요일")

오늘은 일요일

In [43]:
#7. print() 함수를 사용하여 다음과 같이 출력하라.
#naver;kakao;sk;samsung
print("naver;kakao;sk;samsung", sep="")

naver;kakao;sk;samsung

In [27]:
#8. print() 함수를 사용하여 다음과 같이 출력하라.
# naver/kakao/sk/samsung

print("naver/kakao/sk/samung")

naver/kakao/sk/samung

In [37]:
#9. 다음 코드를 수정하여 줄바꿈이 없이 출력되도록 하라. 
#(힌트: end='') print 함수는 두 번 사용한다. 
#세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용된다.
#print("first");print("second")

print("first", end=' '); print("second")

first second

In [45]:
#10. string 문자열의 길이를 구하여라.
string = "dk2jd923i1jdk2jd93jfd92jd918943jfd8923"
print(len(string))

38

In [46]:
#11. 아래 코드의 실행 결과를 예상하라.
#>> a = "3"
#>> b = "4"
#>> print(a + b)

a = "3"
b = "4"
print(a+b)

34

In [86]:
#12. 변수 s와 t에는 각각 문자열이 바인딩 되어있다.
s = "hello"
t = "python"
#두 변수를 이용하여 hello! python 을 출력하라

print(s+"! "+t)

hello! python

In [55]:
#13. print("Hi" * 3)
print("Hi"*3)

HiHiHi

In [56]:
#14. 화면에 '-'를 80개 출력하라
print("-"*80)

--------------------------------------------------------------------------------

In [90]:
#15. 변수에 다음과 같은 문자열이 바인딩되어 있다.

#t1 = 'python'
#t2 = 'java'

# python java python java python java python java 출력하라

t1 = 'python'
t2 = 'java'

print((t1 + ' ' + t2 + ' ') * 4)

python java python java python java python java

In [76]:
#16. LG전자 주식을 10주 보유하고 있습니다. 
#금일 종가 20,000원일 경우 총 평가 금액을 화면에 출력하라.
close_price = 20000
num_of_stocks = 10

close_price * num_of_stocks

200000

In [77]:
#17.  아래 코드의 실행 결과를 예측하라.
# >> 2 + 2 * 3 

2+2*3

8

In [78]:
#18. type() 함수는 데이터 타입을 판별합니다. 
#변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.
# >> a = 128
# >> print (type(a))
# <class 'int'>
#아래 변수에 바인딩된 값의 타입을 판별하라
# >> a = "132"

a="132"
type(a)

str

In [79]:
#19.  # 정수형으로 변환하라
num_str = "720"
int(num_str)

720

In [82]:
#20. 정수 100을 문자열 '100'으로 변환하라.

a = 100
str(a)

'100'

In [101]:
# 21. letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하라.
#>> lang = 'python'
Lang = 'python'
Lang[0:4:2]

'pt'

In [114]:
#22. 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하라.
#>> license_plate = "24가 2210"

license_plate = "24가 2210"

int(license_plate[-4:])

2210

In [117]:
#23. 아래의 문자열에서 '홀' 만 출력하라.
# >> string = "홀짝홀짝홀짝"
string = "홀짝홀짝홀짝"
print(string[0:6:2])

홀홀홀

In [123]:
#24. 문자열을 거꾸로 뒤집어 출력하라.
string = "PYTHON"
result = string[::-1]
print("%s"%result)

NOHTYP

In [137]:
#25. 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하라.
#>> phone_number = "010-1111-2222"

phone_number = "010-1111-2222"
a = phone_number.replace("-", " ")
a

'010 1111 2222'

In [140]:
#26. 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하라
#01011112222

phone_number = "010-1111-2222"
a = phone_number.replace("-", "")
a

'01011112222'

In [146]:
#27. url 에 저장된 웹 페이지 주소에서 도메인을 출력하라.
# >> url = "http://sharebook.kr"
url = "http://sharebook.kr"
url[-2:]

'kr'

In [149]:
#28.아래 코드의 실행 결과를 예상하라

#>> lang = 'python'
#>> lang[0] = 'P'
#>> print(lang)

lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [156]:
#29 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하라.
#>> string = 'abcdfe2a354a32a'
string = 'abcdfe2a354a32a'
c = string.replace('a','A')
print(c)

Abcdfe2A354A32A

In [157]:
#30.아래코드결과를 예측하라
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [ ]:
class TestClass(object):
    def __init__(self, a, b):
        self.aa = a
        self.bb = b
    def get_sum(self):

In [ ]:
class TestClass(object):
    def __init__(self, a, b):
        self.aa = a
        self.bb = b
    def get_sum(self)

In [13]:
abc = [x *3 for x in range(10)]

In [14]:
abc

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [18]:
# 1~10 리스트 작성하고 3의 배수만 받는 리스트를 리스트 컴프리헨션으로 작성해보자

In [15]:
aa = [1,2,3,4,5,6,7,8,9,10]

In [17]:
for i in aa:
    if i%3 == 0:
        print(i)

3
6
9