In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from matplotlib import rcParams, style
#rcParams['font.family'] = 'NanumGothic'
rcParams['font.family'] = '나눔고딕'
rcParams['font.size'] = 10

In [9]:
pd.options.display.max_rows = 200

In [10]:
df = pd.DataFrame({'a': range(100), 'b': range(100)})

In [11]:
df

     a   b
0    0   0
1    1   1
2    2   2
3    3   3
4    4   4
5    5   5
6    6   6
7    7   7
8    8   8
9    9   9
10  10  10
11  11  11
12  12  12
13  13  13
14  14  14
15  15  15
16  16  16
17  17  17
18  18  18
19  19  19
20  20  20
21  21  21
22  22  22
23  23  23
24  24  24
25  25  25
26  26  26
27  27  27
28  28  28
29  29  29
30  30  30
31  31  31
32  32  32
33  33  33
34  34  34
35  35  35
36  36  36
37  37  37
38  38  38
39  39  39
40  40  40
41  41  41
42  42  42
43  43  43
44  44  44
45  45  45
46  46  46
47  47  47
48  48  48
49  49  49
50  50  50
51  51  51
52  52  52
53  53  53
54  54  54
55  55  55
56  56  56
57  57  57
58  58  58
59  59  59
60  60  60
61  61  61
62  62  62
63  63  63
64  64  64
65  65  65
66  66  66
67  67  67
68  68  68
69  69  69
70  70  70
71  71  71
72  72  72
73  73  73
74  74  74
75  75  75
76  76  76
77  77  77
78  78  78
79  79  79
80  80  80
81  81  81
82  82  82
83  83  83
84  84  84
85  85  85
86  86  86
87  87  87
88  88  88
89  89  89
90  90  90
91  91  91
92  92  92
93  93  93
94  94  94
95  95  95
96  96  96
97  97  97
98  98  98
99  99  99

In [ ]:
plt.plot(np.random.randn(100))

In [ ]:
import sqlite3

In [ ]:
query = """
CREATE TABLE test (
a VARCHAR(20),
b VARCHAR(20),
c REAL,
d INTEGER
); """
con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [ ]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?,?,?,?)"

con.executemany(stmt, data)
con.commit()

In [ ]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

In [ ]:
import pandas as pd
import pandas.io.sql as sql

pd.read_sql('select * from test', con)

In [ ]:
import pandas as pd
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year' : [2000, 2001, 2002, 2001, 2002],
        'pop'  : [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = pd.DataFrame(data)

In [ ]:
frame['year_state'] = frame[['year','state']].apply(lambda x: '_'.join(x.astype(str)), axis=1)
frame

In [ ]:
arr = np.array(['1','2','3'])
arr2 = np.array(['a','b','c'])

In [ ]:
sr = pd.Series(arr)
sr2 = pd.Series(arr2)

In [ ]:
sr + '_' + sr2

In [ ]:
#df = pd.DataFrame([sr,sr2], columns=['c1', 'c2'])
df = pd.DataFrame({'a':sr, 'b':sr2})
df

In [ ]:
df['c'] = df['a'] + '_' + df['b']
df