# 연습: DataFrame 1

In [ ]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

### 예제 1 
1. Nan이 아닌 부분을 출력하시오.
2. NaN의 값을 0으로 바꾼후 출력하시오.

In [ ]:
sdata = {'Ohio': 35000,
         'Texas': 71000,
         'Oregon': 16000,
         'Utah': 5000}

states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index=states)
obj4

In [ ]:
# 예제 1.1
obj4[obj4.notnull()]

In [ ]:
# 예제 1.2
obj4[obj4.isnull()] = 0
#obj4.fillna(0, inplace=True)
obj4

### 예제 2
index가 'four'인 행의 값을 [1999, 'Ohio', 3.2, 0]으로 변경하시오.

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2002, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

frame = DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                   index=['one', 'two', 'three', 'four', 'five'])

frame

In [ ]:
# 예제 2
frame.loc['four'] = [1999, 'Ohio', 3.2, 0]
frame

### 예제 3
위 frame에서 index가 two, column이 state 인 값을 'Nevada'로 변경하시오.

In [ ]:
# 예제 3
frame.loc['two', 'state'] = 'Nevada'
frame

### 예제 4 
위 frame에 year=2002이고 state='Ohio' 일때 True를 갖는 etc 컬럼을 생성하시오.

In [ ]:
# 예제 4
frame['etc'] = ((frame.year == 2002) & (frame.state == 'Ohio'))
frame

### 예제 5 
1. 위 frame에서 one, three, four 행에서 year, state, etc 열만 가져와 frame2에 저장하시오.
2. 수정된 frame2에서 year > 2000, state == Ohio 인 행을 출력 하시오.

In [ ]:
# 예제 5.1
frame2 = frame.loc[['one', 'five', 'four'], ['year','state','etc']]
frame2

In [ ]:
# 예제 5.2
frame2.loc[((frame2.year > 2000) & (frame2.state=='Ohio'))]

### 예제 6 
데이터 프레임의 각 행과 열의 합을 각각 계산하여 출력하시오.

In [ ]:
frame = DataFrame(np.random.randn(4, 3), columns=list('bde'),
                  index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

In [ ]:
# 예제 6:열의 합
frame.sum()

In [ ]:
# 예제 6: 행의 합
frame.sum(axis=1)

### 예제 7
아래 int_frame을 index, column기준으로 정렬하시오. (단, index, column 모두 정렬되어야 함)<br>

In [ ]:
int_frame = DataFrame(np.arange(8).reshape((2, 4)), index=['three', 'one'],
                  columns=['d', 'b', 'c', 'a'])
int_frame

In [ ]:
# 예제 7
int_frame.sort_index().sort_index(axis=1)

### 예제 8
코스피와 IBM 가격정보를 불러와 상관관계를 파악하시오.
- 코스피 = '^KS11'
- 코스피 = 'IBM'

In [ ]:
# 예제 8
from pandas_datareader import data as web
all_data = {}
for ticker in ['^KS11', 'IBM']:
    all_data[ticker] = web.get_data_yahoo(ticker)

price = DataFrame({tic: data['Adj Close']
                   for tic, data in all_data.items()})

price.corr()

### 예제 9
1. 2~3행에서 '0'컬럼을 None으로 변경 하시오.
2. 0~2행에서 '2'컬럼을 None으로 변경하시오.
3. 각 컬럼의 None값들을 각 컬럼의 평균값으로 채우시오.

In [ ]:
df = DataFrame(np.arange(21).reshape(7, 3))
df

In [ ]:
# 예제 9.1
df.iloc[2:4, 0] = None; 
df

In [ ]:
# 예제 9.2
df.iloc[:3, 2] = None
df

In [ ]:
# 예제 9.3
df.fillna({0:df[0].mean(), 1:df[1].mean(), 2:df[2].mean()})

### 예제 10
1. multi_idx 이름으로 0 ~ 20의 값을 갖는 (5,4) 데이터 프레임을 생성하시오.
  - index 상위 색인: a, a, b, b, c
  - index 하위 색인: 1,2, 1, 2, 1
  - columns 상위 색인: 'KOR', 'KOR', 'USA', 'USA'
  - columns 하위 색인: 'Seoul', 'Busan', 'LA', 'NewYork'
2. index=b, column= KOR의 Seoul에 해당하는 값을 출력하시오.

In [ ]:
# 예제 10.1
multi_idx = DataFrame(np.arange(20).reshape((5, 4)),  
                      index=[['a', 'a', 'b', 'b', 'c'], [1, 2, 1, 2, 1]], 
                      columns=[['KOR', 'KOR',  'USA', 'USA'],  
                               ['Seoul', 'Busan', 'LA', 'NewYork']])

multi_idx

In [ ]:
# 예제 10.2
multi_idx.loc['b', ('KOR', 'Seoul')]

### 예제 11
1. 위 데이터프레임에 index(key1, key2), column(Country, Region)의 이름을 설정하시오.
2. 2번째 index로 데이터 프레임을 정렬 하시오.
3. column의 레벨을 바꾸시오.

In [ ]:
# 예제 11.1
multi_idx.index.names = ['key1', 'key2']
multi_idx.columns.names = ['Country', 'Region']
multi_idx

In [ ]:
# 예제 11.2
multi_idx.sort_index(level='key2')

In [ ]:
# 예제 11.3
multi_idx.swaplevel('Region', 'Country', axis=1)

In [ ]:
# end of file