# 연습: DataFrame 2

In [ ]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [ ]:
s = Series([34,54,78])
s

In [ ]:
s = Series(['kim', 'lee', 'park'])
s

In [ ]:
s.values

In [ ]:
s.index

In [ ]:
# 인덱스를 임의로 지정할 수 있다
s = Series(['kim', 'lee', 'park'], index=['a', 'b', 'r'])
s

In [ ]:
# 인덱스로 해당 값을 얻을 수 있다
s['r']

In [ ]:
#특정값이 데이터에 속해있는지 확인할수있다
'r' in s

In [ ]:
'park' in s

In [ ]:
# 파이썬 기본 타입인 사전으로부터 시리즈를 만들 수 있다
dic = {'서울':800, '부산':150, '대구': 100}
dic

In [ ]:
s = Series(dic)
s

In [ ]:
# 인덱스 '대전'에 해당하는 값이 없으므로 NaN으로 표시된다
city = ['서울', '부산', '대구', '대전']

s2 = Series(s, index=city)
s2

In [ ]:
# NaN값이면 True를 반환하고 값이 있을 경우 False를 반환한다
pd.isnull(s2)

In [ ]:
# NaN값이면 False를 반환하고 값이 있을 경우 True를 반환한다
pd.notnull(s2)

In [ ]:
# 아래도 같은 동작을 한다 (인스턴스 메서드라고 부른다)
s2.isnull()

In [ ]:
s2

In [ ]:
# 변수 선언 없이 바로 사전으로 시리즈 데이터 셋으로 변환할수 있다
s3 = Series({'서울':800, '광주':300, '대구': 100, '부산':50})
s3

In [ ]:
# 인덱스 '대전'에 해당하는 값이 없으므로 NaN으로 표시된다
s2 = Series(s, index=city)
s2

In [ ]:
# 시리즈 연산 하면 공통의 인덱스가 있는 부부만 처리된다
s2 + s3

In [ ]:
s2 - s3

In [ ]:
# 인덱스나 시리즈에 이름(name)을 줄 수 있다

s2.name = '물가지수'
s2.index.name = '도시명'
s2

In [ ]:
# 데이터프레임은 테이블 구조의 데이터를 다루며 각 컬럼마다 임의의 데이터 형식을 담을 수 있다
# 2차원 구조의 사전형식이라고 볼 수 있다
# 시리즈의 성격을 가지고 있다

# 사전으로부터 데이터프레임을 만드는 법

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)
frame

In [ ]:
# 컬럼의 순서를 변경할 수 있다
DataFrame(data, columns=['year', 'state', 'pop'])

In [ ]:
# 없는 컬럼 값을 주면 NaN으로 처리된다 (아래에서 debt)
# 아래에서 인덱스 값을 새롭게 정의할 수 있다

frame2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                   index=['one', 'two', 'three', 'four', 'five'])
frame2

In [ ]:
sdata = {'name': ['Aaron Brooks', 'Brendan Haywood', 'Cory Joseph', 'Darius Miller'],
        'height': [180, 210, 187.5, 200],
        'weight': [72.45, 120.6, 86.85, 105.75]}
tFrame = DataFrame(sdata)
tFrame

In [ ]:
frame2.columns

In [ ]:
# 컬럼(열)을 얻는 방법
frame2['state']

In [ ]:
# 같은 결과를 얻는다 (속성 값으로 액세스)
frame2.state

In [ ]:
# 로(행)을 얻는 법 
frame2.loc['three']

In [ ]:
# 컬럼 값을 채워널 수 있다 (브로드캐스팅)
frame2['debt'] = 16.5
frame2

In [ ]:
# 행의 수가 같아야 한다
frame2['debt'] = np.arange(5)
frame2

In [ ]:
# 시리즈를 사용하여 컬럼 값을 입력할 수 있다 (없는 인덱스는 NaN이 된다)
val = Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val
frame2

In [ ]:
#frame2에 eastern 칼럼을 만들고 frame2.state가 Ohio면 True값을 넣고 아닐경우 False를 넣는다
frame2['eastern'] = frame2.state == 'Ohio'
frame2

In [ ]:
# 컬럼을 간단히 삭제하는 명령으로 del이 있다
# 참고로 복사본을 만들지 않고 원본을 바로 수정하므로 주의해야 한다
del frame2['eastern']
frame2.columns

In [ ]:
# 중첩된 사전으로부터 바로 데이터프레임을 만들 수 있다
# 바깥의 인덱스 명이 열이 된다
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = DataFrame(pop)
frame3

In [ ]:
frame3.T
# 행과 열을 간단히 바꿀 수 있다 (transpose)

In [ ]:
# 인덱스를 명시적으로 지정할 수 있다
# 값이 없으면 NaN이 된다
DataFrame(frame3, index=[2001, 2002, 2003])

In [ ]:
# 인덱스와 열의 이름을 지정할 수 있다
frame3.index.name = 'year'; frame3.columns.name = 'state'
frame3

In [ ]:
frame3.values

In [ ]:
frame2.values

In [ ]:
# 색인(index) 객체
obj = Series(range(3), index=['a', 'b', 'c'])
index = obj.index
index

In [ ]:
index[1:]

In [ ]:
# 색인은 변경할 수 없다
index[1] = 'd'

In [ ]:
# 시리즈와 데이터프레이의 주요 기능
# reindex: 새로 정하는 색인의 순서대로 시리즈를 재배열한다
obj = Series([10,20,30,40], index=['d', 'b', 'a', 'c'])
obj

In [ ]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

In [ ]:
# fill_value값을 주면 NaN값을 해당 값으로 대체한다
obj.reindex(['a', 'b', 'c', 'd', 'e'], fill_value=0)

In [ ]:
# 앞의 값으로 채운다 forward fill (pad)
obj3 = Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3.reindex(range(6), method='ffill')

In [ ]:
# 뒤의 값으로 채우려면 bfill(backward fill)을 사용한다
obj3.reindex(range(6), method='bfill')

In [ ]:
# reshape함수를 이용하여 배열의 형태를 재설정 할 수있다
# reshape(A, B)는 배열을 AxB로 바꿔준다
frame = DataFrame(np.arange(9).reshape((3, 3)), index=['a', 'c', 'd'],
                  columns=['Ohio', 'Texas', 'California'])
frame

In [ ]:
# 기본적으로는 행을 중심으로 재배열을 수행한다
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

In [ ]:
# 열의 이름을 명시적으로 지정하여 재배열할 수도 있다
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

In [ ]:
frame.reindex(index=['a', 'b', 'c', 'd'], columns=states)

In [ ]:
# drop으로 행 삭제하기
obj = Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
new_obj = obj.drop('c')
new_obj

In [ ]:
obj.drop(['d', 'c'])

In [ ]:
data = DataFrame(np.arange(16).reshape((4, 4)),
                 index=['Ohio', 'Colorado', 'Utah', 'New York'],
                 columns=['one', 'two', 'three', 'four'])

In [ ]:
data.drop(['Colorado', 'Ohio'])

In [ ]:
data.drop('two', axis=1)

In [ ]:
data.drop(['two', 'four'], axis=1)

In [ ]:
obj = Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj['b']

In [ ]:
obj[2:4]

In [ ]:
obj[[1,3]]

In [ ]:
obj[['b','a','c']]

In [ ]:
obj[obj<2]

In [ ]:
# 양 끝점을 포함시킨다
obj['b':'c']

In [ ]:
data = DataFrame(np.arange(16).reshape((4, 4)),
                 index=['Ohio', 'Colorado', 'Utah', 'New York'],
                 columns=['one', 'two', 'three', 'four'])
data

In [ ]:
# 'two'라는 컬럼을 가진 값들을 가져온다
data['two']

In [ ]:
# 'three'와 'one'이라는 컬럼을 가진 값들을 가져온다
data[['three', 'one']]

In [ ]:
# 2까지 로(행)을 가져온다
data[:2]

In [ ]:
# 칼럼 'three'의 값이 5 초과인 값들을 가져온다
data[data['three'] > 5]

In [ ]:
# Colorado 로(행)의 'two'와 'three'값을 Series 구조로 가져온다
data.loc['Colorado', ['two', 'three']]

In [ ]:
# 2번째 로(행)의 값을 가져온다
data.iloc[2]

In [ ]:
# 0부터 Utah까지 행의 컬럼 'two' 값을 가져온다
data.loc[:'Utah', 'two']

In [ ]:
# 컬럼 three의 값이 5 초과인 값의 컬럼 'three' 까지 값을 가져온다
data.loc[data.three > 5, :'three']

In [ ]:
df1 = DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'),
                index=['Ohio', 'Texas', 'Colorado'])
df2 = DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                index=['Utah', 'Ohio', 'Texas', 'Oregon'])
df1

In [ ]:
df2

In [ ]:
df1 + df2

In [ ]:
df1 = DataFrame(np.arange(12.).reshape((3, 4)), columns=list('abcd'))
df2 = DataFrame(np.arange(20.).reshape((4, 5)), columns=list('abcde'))
df1

In [ ]:
df2

In [ ]:
df1 + df2

In [ ]:
df1.add(df2, fill_value=0)

In [ ]:
# 함수 적용
frame = DataFrame(np.random.randn(4, 3), columns=list('bde'),
                  index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

In [ ]:
np.abs(frame)

In [ ]:
f = lambda x: x.max() - x.min()

In [ ]:
frame.apply(f)

In [ ]:
frame.apply(f,axis=1)

In [ ]:
# 리턴 값이 스칼라가 아니라 시리즈로 될 수도 있다
def f(x):
    return Series([x.min(), x.max()], index=['min', 'max'])
frame.apply(f)

In [ ]:
# 포맷을 바꾸는 예
format = lambda x: '{:.4f}'.format(x) # 소수 4번쨰 자리까지 표시한다

# DataFrame구조에 applymap 함수를 이용하여 값에 함수를 적용한다
frame.applymap(format)

In [ ]:
# Series구조에 applymap 함수를 이용하여 값에 함수를 적용한다
frame['e'].map(format)

In [ ]:
# end of file