# 연습: DataFrame 3

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
obj = Series(range(4), index=['d', 'a', 'b', 'c'])
obj

In [ ]:
# obj의 index를 sort한 결과
obj.sort_index()

In [ ]:
# 위에서 sort를 해줬으나 obj의 결과는 변하지 않는다.
obj

In [ ]:
# DataFrame(value값, index값(행), columns값(열))
frame = DataFrame(np.arange(8).reshape((2, 4)), index=['three', 'one'],
                  columns=['d', 'a', 'b', 'c'])
frame

In [ ]:
frame.sort_index()

In [ ]:
# 열을 기준으로 정렬
frame.sort_index(axis=1)

In [ ]:
# 내림차순으로 정렬
frame.sort_index(axis=1, ascending=False)

In [ ]:
frame = DataFrame({'b': [4, 7, 3, 2], 'a': [4,9,2,5], 'c': [5,3,7,9]}) 
frame

In [ ]:
frame.sort_values(by='b')

In [ ]:
frame.sort_values(by='a')

In [ ]:
# 순위 매기기 rank
# 작은 값에 높은 순위를 준다

obj = Series([100, 23, 55, 44, 22, 99, 33])
obj.rank()

In [ ]:
# 내림차순으로 순위를 매긴다
obj.rank(ascending=False)

In [ ]:
# 동점이 있으면 평균값을 준다
obj = Series([100, 23, 100, 44, 22, 99, 33])
obj.rank()

In [ ]:
# 동일한 값이 존재 할 경우 먼저 나타나는 것에게 높은 순위를 줄 수 있다
obj.rank(method='first')

In [ ]:
frame = DataFrame({'b': [4,7,3,2], 'a': [4,9,2,5], 'c': [5,3,7,9]})
frame

In [ ]:
#행 기준으로 rank를 수행
frame.rank(axis=1)

In [ ]:
# 합을 구하면 기본적으로 열을 기준으로 구한다
frame.sum()

In [ ]:
# 행을 기준으로 구한다
frame.sum(axis=1)

In [ ]:
# NaN이 있으면
frame = DataFrame({'b': [4, 7, 3, 2], 'a': [4,9,2,5], 'c': [5,3,7,np.nan]})
frame

In [ ]:
frame.sum()

In [ ]:
# NaN이 있으면 이를 반영한다 (스킵하지 않는다)
frame.sum(skipna=False)

In [ ]:
frame = DataFrame({'b': [4, 7, 3, 2], 'a': [4,9,2,5], 'c': [5,3,7,np.nan]})
frame

In [ ]:
# 최대치가 있는 위치를 반환한다
frame.idxmax()

In [ ]:
# 최소치가 있는 위치를 반환한다
frame.idxmin()

In [ ]:
# 기본 통계값을 보여준다
# count = 갯수, mean = 평균, std = 표준편차 ,min = 최솟값, max = 최댓값
frame.describe()

In [ ]:
obj = Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
obj

In [ ]:
# value 값의 종류를 확인 할 수 있다.
uniques = obj.unique()
uniques

In [ ]:
# 빈도수를 간단히 알 수 있다
# 빈도수가 높은 순으로 정렬된다.
obj.value_counts()

In [ ]:
# 빈도수와 관련없이 나타나는 순서대로 보려면
pd.value_counts(obj.values, sort=False)

In [ ]:
# 아래는 같은 결과를 얻는다
obj.value_counts(sort=False)

In [ ]:
# 특정한 내용이 들어있는지 알려면 isin()을 사용한다
mask = obj.isin(['b', 'c'])
mask

In [ ]:
obj

In [ ]:
# obj에서 mask 값이 true인 값만을 출력
obj[mask]

In [ ]:
# 아래는 같은 결과를 얻는다
obj[obj.isin(['b', 'c'])]

In [ ]:
# 데이터프레임에 대해서도 같은 작업을 할 수 있다
frame = DataFrame({'X':['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'], 
                  'Y':['f', 'g', 'd', 'g', 'h', 'e', 'd', 'h', 'f'],
                   'Z':['a', 'e', 'd', 'g', 'd', 'e', 'q', 'b', 'c']})
frame

In [ ]:
# 갯수를 센다. 없는 값은 NaN으로 표시된다
result = frame.apply(pd.value_counts)
result

In [ ]:
# 없는 값에 0을 대입한다
result = frame.apply(pd.value_counts).fillna(0)
result

In [ ]:
# 결측치 처리 , 결측치 란? python NaN으로 값이 없다는 뜻이다.

from numpy import nan as NA

data = Series([1, NA, 3.5, NA, 7])
data.dropna()

In [ ]:
# 같은 결과
data[data.notnull()]

In [ ]:
data = DataFrame([[NA, 6.5, 3.], [NA, NA, NA],
                  [NA, NA, NA], [NA, 6.5, 3.]])
data

In [ ]:
# 한 항목이라도 NA가 있으면 해당 행을 삭제한다
cleaned = data.dropna()
cleaned

In [ ]:
# 행의 모든 항목이 NA일때 해당 행을 삭제한다
data.dropna(how='all')

In [ ]:
data

In [ ]:
# 컬럼에 대한 삭제시는 axis=1을 사용한다
clean2 = data.dropna(axis=1)
clean2

In [ ]:
clean2 = data.dropna(axis=1, how='all')
clean2

In [ ]:
df = DataFrame(np.random.randn(7 , 3))
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
df.iloc[0,0] = NA
df

In [ ]:
# 정상값(NaN이 아닌 값)이 2 미만인 행을 제거
df.dropna(thresh=2)

In [ ]:
df.fillna(0)

In [ ]:
# 위와 같이 작업했으나 실제 df에는 영향을 주지 않습니다.
df

In [ ]:
# 컬럼별로 다른 값을 채울 수 있다. 사전을 사용한다
df.fillna({1: 0.5, 2: -1})

In [ ]:
# fillna()로 내용은 바뀌지 않는다. 위도 마찬가지로 df에는 영향을 주지 않는 것을 볼 수 있습니다.
df

In [ ]:
# 새로운 변수를 정의하면 바뀐 값을 얻는다
df2 = df.fillna({1: 0.5, 3: -1})
df2

In [ ]:
# fillna함수의 inplace 파라미터를 true로 정의하면 내부 변경이 가능하다.
df.fillna({1: 0.5, 3: -1}, inplace=True)

In [ ]:
# 바뀌어 있다
df

In [ ]:
# end of file