# EPL 데이터 분석

---

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 

from matplotlib.pylab import rcParams, style
rcParams['figure.figsize'] = 12, 8
rcParams['font.family'] = 'NanumGothic'
rcParams['font.size'] = 10

style.use('ggplot')

## 데이터 로드

In [2]:
# 2015-2016 잉글리시 프리미어 리그 경기기록
df = pd.read_excel('data/epl.xls')
df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,2015-08-08,Bournemouth,Aston Villa,0,1,A,0,0,D,...,1.79,26,-0.5,1.98,1.93,1.99,1.92,1.82,3.88,4.70
1,E0,2015-08-08,Chelsea,Swansea,2,2,D,2,1,H,...,1.99,27,-1.5,2.24,2.16,1.80,1.73,1.37,5.04,10.88
2,E0,2015-08-08,Everton,Watford,2,2,D,0,1,A,...,1.96,26,-1.0,2.28,2.18,1.76,1.71,1.75,3.76,5.44
3,E0,2015-08-08,Leicester,Sunderland,4,2,H,3,0,H,...,1.67,26,-0.5,2.00,1.95,1.96,1.90,1.79,3.74,5.10
4,E0,2015-08-08,Man United,Tottenham,1,0,H,1,0,H,...,2.01,26,-1.0,2.20,2.09,1.82,1.78,1.64,4.07,6.04

In [3]:
df['HomeTeam'].unique() # array

array(['Bournemouth', 'Chelsea', 'Everton', 'Leicester', 'Man United',
       'Norwich', 'Arsenal', 'Newcastle', 'Stoke', 'West Brom',
       'Aston Villa', 'Southampton', 'Sunderland', 'Swansea', 'Tottenham',
       'Watford', 'West Ham', 'Crystal Palace', 'Man City', 'Liverpool'],
      dtype=object)

In [4]:
df['HomeTeam'].value_counts()

Bournemouth       19
West Ham          19
Southampton       19
Swansea           19
Watford           19
Aston Villa       19
Liverpool         19
Chelsea           19
Stoke             19
Leicester         19
Tottenham         19
Arsenal           19
Norwich           19
Man United        19
Crystal Palace    19
Sunderland        19
Newcastle         19
West Brom         19
Everton           19
Man City          19
Name: HomeTeam, dtype: int64

In [5]:
df['Date']

0     2015-08-08
1     2015-08-08
2     2015-08-08
3     2015-08-08
4     2015-08-08
5     2015-08-08
6     2015-08-09
7     2015-08-09
8     2015-08-09
9     2015-08-10
10    2015-08-14
11    2015-08-15
12    2015-08-15
13    2015-08-15
14    2015-08-15
15    2015-08-15
16    2015-08-15
17    2015-08-16
18    2015-08-16
19    2015-08-17
20    2015-08-22
21    2015-08-22
22    2015-08-22
23    2015-08-22
24    2015-08-22
25    2015-08-22
26    2015-08-23
27    2015-08-23
28    2015-08-23
29    2015-08-24
         ...
350   2016-04-30
351   2016-04-30
352   2016-05-01
353   2016-05-01
354   2016-05-01
355   2016-05-02
356   2016-05-07
357   2016-05-07
358   2016-05-07
359   2016-05-07
360   2016-05-07
361   2016-05-07
362   2016-05-07
363   2016-05-08
364   2016-05-08
365   2016-05-08
366   2016-05-10
367   2016-05-11
368   2016-05-11
369   2016-05-11
370   2016-05-15
371   2016-05-15
372   2016-05-15
373   2016-05-15
374   2016-05-15
375   2016-05-15
376   2016-05-15
377   2016-05-15
378   2016-05-15
379   2016-05-17
Name: Date, Length: 380, dtype: datetime64[ns]

In [6]:
# H / A 중복되어 들어 있나? 2015년 8월 8일 경기 기록 확인.
df[df['Date'] == '2015-08-08']

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,2015-08-08,Bournemouth,Aston Villa,0,1,A,0,0,D,...,1.79,26,-0.5,1.98,1.93,1.99,1.92,1.82,3.88,4.70
1,E0,2015-08-08,Chelsea,Swansea,2,2,D,2,1,H,...,1.99,27,-1.5,2.24,2.16,1.80,1.73,1.37,5.04,10.88
2,E0,2015-08-08,Everton,Watford,2,2,D,0,1,A,...,1.96,26,-1.0,2.28,2.18,1.76,1.71,1.75,3.76,5.44
3,E0,2015-08-08,Leicester,Sunderland,4,2,H,3,0,H,...,1.67,26,-0.5,2.00,1.95,1.96,1.90,1.79,3.74,5.10
4,E0,2015-08-08,Man United,Tottenham,1,0,H,1,0,H,...,2.01,26,-1.0,2.20,2.09,1.82,1.78,1.64,4.07,6.04
5,E0,2015-08-08,Norwich,Crystal Palace,1,3,A,0,1,A,...,1.67,27,0.0,1.83,1.78,2.17,2.08,2.46,3.39,3.14

In [7]:
# FTHG = Full Time Home Team Goal
# FTAG = Full Time Away Team Goal
# FTR  = Full Time Result (H / A / D) : ( Home / Awaw / Draw )

df_w = df[['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR']]
df_w.head()

        Date     HomeTeam     AwayTeam  FTHG  FTAG FTR
0 2015-08-08  Bournemouth  Aston Villa     0     1   A
1 2015-08-08      Chelsea      Swansea     2     2   D
2 2015-08-08      Everton      Watford     2     2   D
3 2015-08-08    Leicester   Sunderland     4     2   H
4 2015-08-08   Man United    Tottenham     1     0   H

##  1. 시즌 성적표 작성

In [8]:
teams = df['HomeTeam'].unique()
teams

array(['Bournemouth', 'Chelsea', 'Everton', 'Leicester', 'Man United',
       'Norwich', 'Arsenal', 'Newcastle', 'Stoke', 'West Brom',
       'Aston Villa', 'Southampton', 'Sunderland', 'Swansea', 'Tottenham',
       'Watford', 'West Ham', 'Crystal Palace', 'Man City', 'Liverpool'],
      dtype=object)

In [9]:
# 시즌 성적표(빈 양식)

# Point(승점) = W * 3 + D

f_tab = pd.DataFrame({'Team': teams, 'Point': 0},
                     columns={'Team', 'Win', 'Draw', 'Lost', '득점', '실점', '골득실', 'Point'})
f_tab = f_tab.fillna(0)
f_tab.head()

   Lost         Team  Draw  Point  실점  골득실  득점  Win
0     0  Bournemouth     0      0   0    0   0    0
1     0      Chelsea     0      0   0    0   0    0
2     0      Everton     0      0   0    0   0    0
3     0    Leicester     0      0   0    0   0    0
4     0   Man United     0      0   0    0   0    0

In [10]:
f_tab = f_tab.reindex(columns= ['Team', 'Win', 'Draw', 'Lost', '득점', '실점', '골득실', 'Point'])
f_tab.head()

          Team  Win  Draw  Lost  득점  실점  골득실  Point
0  Bournemouth    0     0     0   0   0    0      0
1      Chelsea    0     0     0   0   0    0      0
2      Everton    0     0     0   0   0    0      0
3    Leicester    0     0     0   0   0    0      0
4   Man United    0     0     0   0   0    0      0

#### 데이터 탐색

In [11]:
df_w.head()

        Date     HomeTeam     AwayTeam  FTHG  FTAG FTR
0 2015-08-08  Bournemouth  Aston Villa     0     1   A
1 2015-08-08      Chelsea      Swansea     2     2   D
2 2015-08-08      Everton      Watford     2     2   D
3 2015-08-08    Leicester   Sunderland     4     2   H
4 2015-08-08   Man United    Tottenham     1     0   H

In [12]:
# HomeTeam으로 그룹핑
gp_home = df_w.groupby('HomeTeam')

In [13]:
#for name, group in gp_home:
#    print(name)
#    print(group)

dic_t = dict(list(gp_home))

In [ ]:
dic_t['Liverpool']

In [ ]:
dic_t['Chelsea']

In [ ]:
# 각 팀별로 득점, 실점, 골득실을 계산

f_tab.loc[
    f_tab['Team'] == 'Arsenal', '득점'
] = dic_t['Arsenal']['FTHG'].sum()


f_tab.loc[
    f_tab['Team'] == 'Arsenal', '실점'
] = dic_t['Arsenal']['FTAG'].sum()

f_tab['골득실'] = f_tab['득점'] - f_tab['실점']

f_tab

In [ ]:
# 각 그룹의 첫 번째 데이터
gp_home.first()

In [ ]:
# 각 그룹의 마지막 데이터
gp_home.last()

#### Home team

In [ ]:
# 각 팀별로 득점, 실점 계산
df_home = gp_home.agg({'FTHG': sum, 'FTAG': sum })
df_home.rename(columns={'FTHG': '득점', 'FTAG': '실점'}, inplace=True)
df_home

In [ ]:
# 함수정의: 승, 패, 무승부 횟수 계산
def func(x):
    return x.value_counts()

In [ ]:
# 각 팀별로 승, 패, 무승부 횟수 계산
df_home_ftr = gp_home['FTR'].apply(func).unstack()
df_home_ftr

In [ ]:
# 컬럼 이름 수정 ( A: Away team 승, D: 무승부, H: Home team 승 )
df_home_ftr.rename(columns={'A': 'Lost', 'D': 'Draw', 'H': 'Win'}, inplace=True)
df_home_ftr

#### Away team

In [ ]:
# HomeTeam으로 그룹핑
gp_away = df_w.groupby('AwayTeam')

In [ ]:
# 각 팀별로 득점, 실점 계산
df_away = gp_away.agg({'FTHG': sum, 'FTAG': sum })
df_away.rename(columns={'FTHG': '실점', 'FTAG': '득점'}, inplace=True)
df_away

In [ ]:
# 각 팀별로 승, 패, 무승부 횟수 계산
df_away_ftr = gp_away['FTR'].apply(func).unstack()
df_away_ftr

In [ ]:
# 컬럼 이름 수정 ( A: Away team 승, D: 무승부, H: Home team 승 )
df_away_ftr.rename(columns={'A': 'Win', 'D': 'Draw', 'H': 'Lost'}, inplace=True)
df_away_ftr

#### Home + Away: 득점, 실점, 골득실 계산

In [ ]:
# 홈/원정 경기에 대한 득점/실점 값 합산
df_goal = df_home + df_away
df_goal.index.name = None
df_goal

In [ ]:
# 골득실 계산
df_goal['골득실'] = df_goal['득점'] - df_goal['실점']
df_goal

#### Home + Away: 승, 패, 승점 계산

In [ ]:
df_ftr = df_home_ftr + df_away_ftr
df_ftr.index.name = None
df_ftr

In [ ]:
# 승점 계산 ( 승점 = 승 * 3 + 무승부 )
df_ftr['Point'] = df_ftr['Win'] * 3 + df_ftr['Draw']
df_ftr.sort_values('Point', ascending=False)
df_ftr

#### 최종 시즌 성적표

In [ ]:
# 승/패, 골득실 Dataframe 통합
f_tab = pd.concat([df_ftr, df_goal], axis=1)

# 컬럼 순서 정리
f_tab = f_tab[['Win', 'Draw', 'Lost', '득점', '실점', '골득실', 'Point']]

# 승점 우선 정렬, 동률인 경우 골득실로 정렬
f_tab.sort_values(['Point', '골득실'], ascending=False)

---

## 2. 각 팀별 성적 집계

In [ ]:
df_w.head()

In [ ]:
# 팀 이름 설정
team_name = 'Liverpool'

In [ ]:
# Home team 일 경우의 데이터
df_w[df_w['HomeTeam'] == team_name]

In [ ]:
# Away team 일 경우의 데이터
df_w[df_w['AwayTeam'] == team_name]

#### 승, 패 처리 함수 정의

In [ ]:
def result(x, home):
    if x == 'H':
        if home:  return 'W'
        else:     return 'L'
    elif x == 'A':
        if home:  return 'L'
        else:     return 'W'
    else:
        return x

#### Home team

In [ ]:
df_home = df_w[df_w['HomeTeam'] == team_name]
df_home.head()

In [ ]:
# 컬럼 이름 수정
df_home = df_home.rename(columns={'AwayTeam':'Opponent', 'FTHG':'득점', 'FTAG':'실점' })
df_home.head()

In [ ]:
# 승, 패 처리
df_home['FTR'] = df_home['FTR'].apply(result, home=True)
df_home.head()

#### Away team

In [ ]:
df_away = df_w[df_w['AwayTeam'] == team_name]
df_away.head()

In [ ]:
# 컬럼 이름 수정
df_away = df_away.rename(columns={'HomeTeam':'Opponent', 'FTHG':'실점', 'FTAG':'득점' })
df_away.head()

In [ ]:
# 승, 패 처리
df_away['FTR'] = df_away['FTR'].apply(result, home=False)
df_away.head()

#### Home + Away

In [ ]:
# Merge ( Home + Away )
df_team = pd.merge(df_home, df_away, how='outer')
df_team

In [ ]:
# 컬럼 삭제
df_team.drop(['HomeTeam', 'AwayTeam'], axis=1, inplace=True)
df_team.head()

In [ ]:
# Date 타입 변경 ( str --> datetime )
df_team['Date'] = pd.to_datetime(df_team['Date'], format="%Y-%m-%d")

# Date 컬럼으로 정렬
df_team.sort_values('Date', inplace=True)

df_team.head()

In [ ]:
# Date 컬럼을 인덱스로 지정
df_team.set_index('Date', inplace=True)
df_team.head()

#### Win, CumWin 컬럼 생성

In [ ]:
# Win 컬럼 생성 ( 승: 1, 패: 0, 무승부: 0 )
df_team['Win'] = df_team['FTR'].map({'W':1, 'L':0, 'D': 0})
df_team.head()

In [ ]:
# CumWin 컬럼 생성 ( 승리 누적 합계 )
df_team['CumWin'] = df_team['Win'].cumsum()
df_team.head(5)

In [ ]:
# 누적 승리 그래프
df_team['CumWin'].plot()

#### Lost, CumLost 컬럼 생성

In [ ]:
# Lost 컬럼 생성 ( 승: 0, 패: 1, 무승부: 0 )
df_team['Lost'] = df_team['FTR'].map({'W':0, 'L':1, 'D': 0})

In [ ]:
# CumLost 컬럼 생성 ( 패배 누적 합계 )
df_team['CumLost'] = df_team['Lost'].cumsum()

In [ ]:
# 누적 패배 그래프
df_team['CumLost'].plot()

In [ ]:
# 누적 승/패 그래프
df_team[['CumWin', 'CumLost']].plot()

#### Point, CumPoint 컬럼 생성

In [ ]:
# Point 컬럼 생성 ( 승점 계산: W * 3 + D )
df_team['Point'] = df_team['FTR'].map({'W':3, 'L':0, 'D': 1})

In [ ]:
# CumPoint 컬럼 생성 ( 승점 누적 합계 )
df_team['CumPoint'] = df_team['Point'].cumsum()

In [ ]:
# 누적 승점 그래프
df_team['CumPoint'].plot()

---

##  3. 각 팀별 성적 집계 - 함수 이용

#### 성적 집계 함수 정의

In [ ]:
def team_analysis(df, team_name):

    df_w = df
    
    #----------------------------------------------------------------------------
    # 입력된 team 데이터 로드
    #----------------------------------------------------------------------------
    # Home, Away team 로드
    df_home = df_w[df_w['HomeTeam'] == team_name]
    df_away = df_w[df_w['AwayTeam'] == team_name]

    # 승, 패 처리 함수 정의
    def result(x, home):
        if x == 'H':
            if home: return 'W'
            else:    return 'L'
        elif x == 'A':
            if home: return 'L'
            else:    return 'W'
        else:
            return x
    
    #----------------------------------------------------------------------------
    # team 별 데이터 처리
    #----------------------------------------------------------------------------
    # 컬럼 이름 수정
    df_home = df_home.rename(columns={'AwayTeam':'Opponent', 'FTHG':'득점', 'FTAG':'실점' })
    df_away = df_away.rename(columns={'HomeTeam':'Opponent', 'FTHG':'실점', 'FTAG':'득점' })
    
    # 승, 패 처리
    df_home['FTR'] = df_home['FTR'].apply(result, home=True)
    df_away['FTR'] = df_away['FTR'].apply(result, home=False)


    #----------------------------------------------------------------------------
    # 데이터 통합처리 ( Home + Away )
    #----------------------------------------------------------------------------
    # Merge ( Home + Away )
    df_team = pd.merge(df_home, df_away, how='outer')
    
    # 컬럼 삭제
    df_team.drop(['HomeTeam', 'AwayTeam'], axis=1, inplace=True)

    # Date 타입 변경 ( str --> datetime )
    df_team['Date'] = pd.to_datetime(df_team['Date'], format="%Y-%m-%d")

    # 날짜별 정렬
    df_team.sort_values('Date', inplace=True)
    
    # 날짜로 인덱스 설정
    df_team.set_index('Date', inplace=True)
    

    #----------------------------------------------------------------------------
    # 집계 컬럼 생성
    #----------------------------------------------------------------------------
    # Win, CumWin 컬럼 생성
    df_team['Win'] = df_team['FTR'].map({'W':1, 'L':0, 'D': 0})
    df_team['CumWin'] = df_team['Win'].cumsum()

    # Lost, CumLost 컬럼 생성
    df_team['Lost'] = df_team['FTR'].map({'W':0, 'L':1, 'D': 0})
    df_team['CumLost'] = df_team['Lost'].cumsum()

    # Point, CumPoint 컬럼 생성
    df_team['Point'] = df_team['FTR'].map({'W':3, 'L':0, 'D': 1})
    df_team['CumPoint'] = df_team['Point'].cumsum()
    
    df_team.name = team_name
    
    return df_team

#### 각 팀별 성적 집계

In [ ]:
# 레스터 시티
leicester = team_analysis(df_w, 'Leicester')
leicester

In [ ]:
leicester['CumPoint'].plot()

In [ ]:
# 첼시
chelsea = team_analysis(df_w, 'Chelsea')
chelsea.index.name = 'Date'
chelsea.head()

In [ ]:
#import openpyxl

In [ ]:
# 파일 저장
chelsea.to_excel('data/chelsea.xlsx')

#### 여러 팀 성적 집계

In [ ]:
# 처리할 팀 리스트
teams = ['Chelsea', 'Liverpool', 'Arsenal', 'Leicester']

In [ ]:
plt.figure(figsize=(8,4))

for t in teams:
    # 누적 승점 그래프
    df = team_analysis(df_w, t)['CumPoint']
    df.plot(label=t)


plt.legend(loc='best')
plt.ylabel('Cumulative Points')

---

In [ ]:
# end of file