In [4]:
import sqlite3
import pandas as pd
import keras as kr

Using TensorFlow backend.

ImportError: No module named 'tensorflow'

In [5]:
con = sqlite3.connect(':memory:')

In [6]:
con

In [29]:
query = """
CREATE TABLE test1
(a VARCHAR(20), b VARCHAR(20),
c REAL, d INTEGER
);"""

con.execute(query)
con.commit()

In [30]:
data = [('Bloomington', 'Indiana', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]

stmt = "INSERT INTO test1 VALUES(?, ?, ?, ?)"

con.executemany(stmt, data)
con.commit()

In [33]:
cursor = con.execute('select * from test1')

In [34]:
rows = cursor.fetchall()

In [35]:
rows

[('Bloomington', 'Indiana', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [36]:
pd.DataFrame(rows, columns=list(zip(*cursor.description))[0])

             a           b     c  d
0  Bloomington     Indiana  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [28]:
import pandas.io.sql as sql

In [37]:
sql.read_sql('select * from test1', con)

             a           b     c  d
0  Bloomington     Indiana  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [38]:
con.close()

## DB File 사용

In [40]:
import os
os.getcwd()

'C:\\Users\\tkim29\\assist_python\\recomm._sys'

In [41]:
# 파일이 없으면 생성
con1 = sqlite3.connect('C:\\Users\\tkim29\\assist_python\\recomm._sys\\
sqlite_01.db')

In [42]:
con1

In [43]:
query1 = """
CREATE TABLE score
('번호' VARCHAR(5), '이름' VARCHAR(64),
'kor' INTEGER, 'eng' INTEGER, 'math' INTEGER
);
"""

con1.execute(query1)
con1.commit()

In [46]:
data1 = [
('1','김지훈',90,80,85),
('2','김동현',90,85,90),
('3','박현우',80,80,80),
('4','박성민',85,90,75),
('5','서주원',95,95,100),
('6','윤석원',75,85,80),
('7','이서연',70,65,40),
('8','정민서',65,80,85),
('9','최수진',95,90,95),
('10','황미영',75,85,100)
]

stmt1 = "INSERT INTO score VALUES(?, ?, ?, ?,?)"

con1.executemany(stmt1, data1)
con1.commit()

In [48]:
data1

[('1', '김지훈', 90, 80, 85),
 ('2', '김동현', 90, 85, 90),
 ('3', '박현우', 80, 80, 80),
 ('4', '박성민', 85, 90, 75),
 ('5', '서주원', 95, 95, 100),
 ('6', '윤석원', 75, 85, 80),
 ('7', '이서연', 70, 65, 40),
 ('8', '정민서', 65, 80, 85),
 ('9', '최수진', 95, 90, 95),
 ('10', '황미영', 75, 85, 100)]

In [51]:
sql.read_sql('select * from score', con1)

   번호   이름  kor  eng  math
0   1  김지훈   90   80    85
1   2  김동현   90   85    90
2   3  박현우   80   80    80
3   4  박성민   85   90    75
4   5  서주원   95   95   100
5   6  윤석원   75   85    80
6   7  이서연   70   65    40
7   8  정민서   65   80    85
8   9  최수진   95   90    95
9  10  황미영   75   85   100

In [84]:
con1.close()

In [85]:
import sqlite3
con2 = sqlite3.connect('C:\\Users\\tkim29\\assist_python\\recomm._sys\\
world.db')

In [94]:
con2.tables

AttributeError: 'sqlite3.Connection' object has no attribute 'tables'

In [95]:
query2 = """
con2.tables;
"""

con2.execute(query2)
con2.commit()

OperationalError: near "con2": syntax error

In [96]:
sql.read_sql('select * from world.db', con2)

DatabaseError: Execution failed on sql 'select * from world.db': no such table: world.db

In [72]:
sql.read_sql('select * ', con2)

DatabaseError: Execution failed on sql 'select * ': no tables specified